/* #root {
    height: 500px;
    background-color: red;
} */


.bntNumber {
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.btnFunction {
    width: 60px;
    height: 60px;
}

.divTable {
    height: 300px;
}